{extend name="layout/header"}
{block name="navbar"}{include file="layout:navbar" /}{/block}

{block name="head"}
    <style>
        .hiddenstr{
            overflow:hidden;white-space:nowrap;text-overflow:ellipsis;
        }
    </style>

{/block}

{block name="contents"}
    <div class="container">
        <h2 class="">微信公众号配置</h2>
        <br>
        <div class="row">
            <!--<div class="col-4">-->
                <!--<a href="" class="btn btn-success btn-block btn-sm">返回</a>-->
            <!--</div>-->
            <div class="col-4">
                <a href="{:url('index/Config/addconfig')}" class="btn btn-success btn-block btn-sm">添加公众号</a>
            </div>

        </div>
        <br>
        <div class="table-responsive">
            <!--<table class="table table-bordered table-sm" style='table-layout:fixed';>-->
            <table class="table table-bordered table-sm">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>公众号名称</th>
                    <th>APPID</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="configlist" id="v" empty = "$empty"}
                    <tr>
                        <td>{$v['id']}</td>
                        <td class="hiddenstr">{$v['name']}</td>
                        <td>{$v['appid']}</td>
                        <td>{$v['status']|raw}</td>
                        <td>
                            <!--<a href="">编辑</a>|<a href="">删除</a>-->
                            <!--<a href="" class="btn btn-info btn-sm">使用</a>-->
                            {if ($v['rawstatus'] == 1)}
                                <button type="button" class="btn btn-info btn-sm" disabled>使用</button>
                                {else/}
                                <button type="button" class="btn btn-info btn-sm changeaccount" data-menuid="{$v['id']}">使用</button>
                            {/if}
                            <a href="{:url('index/Config/editconfig',['id'=>$v['id']])}" class="btn btn-warning btn-sm">编辑</a>
                            <button type="button" class="btn btn-danger btn-sm delmenu" data-menuid="{$v['id']}">删除</button>
                        </td>
                    </tr>
                {/volist}
                </tbody>
            </table>
        </div>

    </div>

{/block}

{block name="js"}
    <script>

        $('.changeaccount').click(function () {
            var menuid = $(this).data('menuid');
            layer.confirm('是否确认使用此账号?', {
                btn: ['确定','取消'] //按钮
            }, function(){
                $.ajax({
                    type: "POST",//方法类型
                    dataType: "json",//预期服务器返回的数据类型
                    url: "{:url('index/Config/changeAccount')}",//url
                    data: {id:menuid},
                    success: function (result) {
                        if (result.status === 1) {
                            layer.msg(result.msg);
                            setTimeout(function () {
                                //刷新页面
                            window.location.reload();
                            },1000)

                        } else {
                            layer.msg(result.msg);
                        }
                    },
                    error: function () {
                        layer.msg("异常!");
                    }
                })
            });

        });

        $('.delmenu').click(function () {
            var menuid = $(this).data('menuid');
            layer.confirm('是否确认删除?', {
                btn: ['确定','取消'] //按钮
            }, function(){
                $.ajax({
                    type: "POST",//方法类型
                    dataType: "json",//预期服务器返回的数据类型
                    url: "{:url('index/Config/delconfig')}",//url
                    data: {id:menuid},
                    success: function (result) {
                        if (result.status === 1) {
//                            layer.msg(result.msg);
                            //刷新页面
                            window.location.reload();
                        } else {
                            layer.msg(result.msg);
                        }
                    },
                    error: function () {
                        layer.msg("异常!");
                    }
                })
            });

        });

    </script>
{/block}

