{extend name="layout/header"}
{block name="navbar"}{include file="layout:navbar" /}{/block}
{block name="contents"}
    <div class="container">
        <h2 class="">模板消息列表</h2>

        <br>
        <div class="row">
            <div class="col-4">
                <button type="button" class="btn btn-success btn-block btn-sm" id="gettemplist">获取列表</button>
            </div>
            <div class="col-4">
                <a href="{:url('index/Template/temppushlog')}" class="btn btn-success btn-block btn-sm">推送日志</a>
            </div>
        </div>

        <!--<div class="container">-->
            <!--<div class="btn-group btn-group-sm">-->
                <!--<button type="button" class="btn btn-primary">获取列表</button>-->
                <!--<button type="button" class="btn btn-warning">推送日志</button>-->
            <!--</div>-->
        <!--</div>-->
        <!---->
        <br>

        <div class="table-responsive">
            <table class="table table-bordered table-sm">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>标题</th>
                    <!--<th>模板ID</th>-->
                    <!--<th>状态</th>-->
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="templist" id="v" empty="$empty"}
                    <tr>
                        <td>{$v['id']}</td>
                        <td class="">{$v['title']}</td>
                        <!--<td>{$v['template_id']}</td>-->
                        <!--<td>{$v['status']}</td>-->
                        <td>
                            <a href="{:url('index/Template/tempdetail',['id'=>$v['id']])}"
                               class="btn btn-info btn-sm">使用</a>
                            <button type="button" class="btn btn-danger btn-sm delmenu" data-menuid="{$v['id']}">删除
                            </button>
                        </td>
                    </tr>
                {/volist}
                </tbody>
            </table>
        </div>

    </div>
{/block}

{block name="js"}
    <script>
        //获取模板消息列表
        $('#gettemplist').click(function () {
            //当点击推送菜单的时候,请求接口
            layer.confirm('是否确认从微信服务器获取模板列表?', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                layer.load(2);
                $.ajax({
                    type: "GET",//方法类型
                    dataType: "json",//预期服务器返回的数据类型
                    url: "{:url('index/Wechat/getTempListInfo')}",//url
                    success: function (result) {
                        if (result.status === 1) {
                            layer.closeAll('loading');
                            layer.msg(result.msg, {icon: 1});
                            setTimeout(function () {
                                window.location.reload(); //刷新页面
                            }, 1000)
                        } else {
                            layer.closeAll('loading');
                            layer.msg(result.msg, {icon: 1});
//                            layer.alert(result.msg, {icon: 6});
                            setTimeout(function () {
                                window.location.reload(); //刷新页面
                            }, 1500)
                        }
                    },
                    error: function () {
                        layer.closeAll('loading');
                        layer.msg("异常!");
                    }
                })
            });
        });



        $('.delmenu').click(function () {
            var menuid = $(this).data('menuid');
            layer.confirm('是否确认删除?', {
                btn: ['确定','取消'] //按钮
            }, function(){
                $.ajax({
                    type: "POST",//方法类型
                    dataType: "json",//预期服务器返回的数据类型
                    url: "{:url('index/Template/deltemplate')}",//url
                    data: {id:menuid},
                    success: function (result) {
                        if (result.status === 1) {
//                            layer.msg(result.msg);
                            //刷新页面
                            window.location.reload();
                        } else {
                            layer.msg(result.msg);
                        }
                    },
                    error: function () {
                        layer.msg("异常!");
                    }
                })
            });

        });



    </script>
{/block}}