{extend name="layout/header"}
{block name="navbar"}{include file="layout:navbar" /}{/block}

{block name="contents"}
    <div class="container">
        <h2 class="">模板消息推送日志</h2>
        <br>
        <div class="row">
            <div class="col-4">
                <a href="{:url('index/Template/index')}" class="btn btn-success btn-block btn-sm">返回</a>
            </div>
        </div>
        <br>
        <div class="table-responsive">
            <table class="table table-bordered table-sm">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>标题</th>
                    <!--<th>内容</th>-->
                    <!--<th>接收者</th>-->
                    <th>结果</th>
                    <th>推送时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="temppushlog" id="v" empty="$empty"}
                    <tr>
                        <td>{$v['id']}</td>
                        <td class="">{$v['title']}</td>
                        <!--<td>{$v['content']}</td>-->
                        <!--<td>{$v['senduser']}</td>-->
                        <td>{$v['msg']}</td>
                        <td>{$v['createtime']}</td>
                        <td>
                            <a href="" class="btn btn-info btn-sm">详细</a>
                            <button type="button" class="btn btn-warning btn-sm delmenu" data-menuid="{$v['id']}" disabled>删除
                            </button>
                        </td>
                    </tr>
                {/volist}
                </tbody>
            </table>
        </div>

    </div>

    <div class="container">
        {$temppushlog|raw}
    </div>


{/block}

{block name="js"}


{/block}