{extend name="layout/header"}
{block name="navbar"}{include file="layout:navbar" /}{/block}
{block name="contents"}
    <div class="container">
        <h2 class="">自动回复配置</h2>
        <br>
        <div class="row">
            <div class="col-4">
                <a href="{:url('index/Autoreply/addreply')}" class="btn btn-success btn-block btn-sm" id="addReply">添加回复</a>
            </div>
        </div>
        <br>
        <div class="table-responsive">
            <!--<table class="table table-bordered table-sm" style='table-layout:fixed';>-->
            <table class="table table-bordered table-sm">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>关键字</th>
                    <th width="300">回复内容</th>
                    <th>回复类型</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="replylist" id="v" empty="$empty"}
                    <tr>
                        <td>{$v['id']}</td>
                        <td>{$v['keyword']}</td>
                        <td>{$v['reply']|raw}</td>
                        <td>{$v['msgtype']}</td>
                        <td>{$v['status']|}</td>
                        <td>
                            <!--<a href="">编辑</a>|<a href="">删除</a>-->
                            <a href="{:url('index/Autoreply/editreply',['id'=>$v['id']])}" class="btn btn-info btn-sm">编辑</a>
                            <button type="button" class="btn btn-danger btn-sm delmenu" data-menuid="{$v['id']}">删除</button>
                        </td>
                    </tr>
                {/volist}
                </tbody>
            </table>
        </div>

    </div>

{/block}

{block name="js"}
    <script>
        $('.delmenu').click(function () {
            var menuid = $(this).data('menuid');
            layer.confirm('是否确认删除?', {
                btn: ['确定','取消'] //按钮
            }, function(){
                $.ajax({
                    type: "POST",//方法类型
                    dataType: "json",//预期服务器返回的数据类型
                    url: "{:url('index/Autoreply/delreply')}",//url
                    data: {id:menuid},
                    success: function (result) {
                        if (result.status == 1) {
//                            layer.msg(result.msg);
                            //刷新页面
                            window.location.reload();
                        } else {
                            layer.msg(result.msg);
                        }
                    },
                    error: function () {
                        layer.msg("异常!");
                    }
                })
            });
        });
    </script>
{/block}}