<!DOCTYPE html>
<html>
<head>
    <title>微信公众号管理后台</title>
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="__PUBLIC__/Common/bootstrap/css/bootstrap.min.css">-->
    <!--<link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<link href="https://cdn.bootcss.com/bootstrap-switch/3.3.4/css/bootstrap2/bootstrap-switch.min.css" rel="stylesheet">-->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <!--<script src="__PUBLIC__/Common/jquery/jquery-3.3.1.min.js"></script>-->
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <!--<script src="__PUBLIC__/Common/bootstrap/js/bootstrap.min.js"></script>-->
    <!--<script src="https://cdn.bootcss.com/bootstrap-switch/3.3.4/js/bootstrap-switch.min.js"></script>-->
    <script src="https://cdn.bootcss.com/layer/3.1.0/layer.js"></script>
    <!--<script src="__PUBLIC__/Common/layer/layer.js"></script>-->
    <style>
        .blankbox {
            height: 20px;
        }
    </style>

    {block name="head"}{/block}
</head>
<body>

{block name="navbar"}{/block}
<div class="container">
    {if isset($wechatname)}
        <div class="alert alert-info">
            当前公众号为: <strong>{$wechatname}</strong> <a href="{:url('index/Config/index')}">切换</a>
        </div>
    {/if}
</div>
{block name="contents"}{/block}

<div class="blankbox"></div>
<script>
    console.log('Powered By Jason.song');
</script>
{block name="js"}{/block}

</body>
</html>