<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="{:url('index/index/index')}">WECHAT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <span class="navbar-text">
                ({$Think.session.alluserinfo.username}) 丨
            </span>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop1" data-toggle="dropdown">
                    公众号管理
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{:url('index/Config/index')}">公众号配置</a>
                    <a class="dropdown-item" href="{:url('index/Menu/index')}">自定义菜单</a>
                    <a class="dropdown-item" href="{:url('index/Autoreply/index')}">自动回复配置</a>
                </div>
            </li>
            

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop2" data-toggle="dropdown">
                    消息推送
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{:url('index/Template/index')}">模板消息</a>
                    <a class="dropdown-item" href="#">客服消息</a>
                    <a class="dropdown-item" href="#">群发消息</a>
                </div>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop3" data-toggle="dropdown">
                    其他功能
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">二维码生成</a>
                    <a class="dropdown-item" href="#">小程序码生成</a>
                </div>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop4" data-toggle="dropdown">
                    系统管理
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{:url('index/Userauth/index')}">权限设置</a>
                    <a class="dropdown-item" href="#">系统日志</a>
                </div>
            </li>

        </ul>
    </div>
</nav>
<br>